body {
    background: #c9e2ff;
    font-size: 30px;
    font-family: 'Karla', sans-serif;
}

.firstheader {
    margin-left: 50%;
    margin-right: 50%;
    background-color: white;
}

#link {
    text-decoration: blue;
    font-family: 'Karla', sans-serif;
}