body {
    background: #c9e2ff;
    font-size: 10px;
    font-family: 'Karla', sans-serif;
    text-align: center;
}

.firstheader {
    margin-left: 30%;
    margin-right: 30%;
    background-color: white;
}

#link {
    text-decoration: blue;
    font-family: 'Karla', sans-serif;
}