.header {
  text-align: center;
  font-family: karla;
  margin-top: 25%;
  margin-bottom: 20%;
  color: #ffc100;
}

.yellow {
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    background-attachment: fixed;
    width: 300px;
}